.animate__animated.animate__bounce {
    --animate-duration: 5s;
}
#voluntariado {
    background:url(../assets/img/fondoParallax.jpg) repeat fixed 100%;
}
#proyectos {
    background:url(../assets/img/fondoParallax.jpg) repeat fixed 100%;
}
#irAInicio {
    position: relative;
    padding-right: 2em;
}
